syn.comm {
  color: rgb(0, 160, 0);
}

syn.semic {
  color: lightblue;
}

syn.paren {
  color: red;
}

syn.brack {
  color: orange;
}

syn.sq {
  color: lightgreen;
}

syn.funcName {
  color: purple;
}

syn.if {
  color: lightcoral;
}

syn.func {
  color: lightblue;
}

syn.dquote {
  color: green;
}

syn.squote {
  color: rgb(168, 49, 69);
}

syn.dot {
  color: rgb(136, 173, 0);
}

syn.plus {
  color: orange;
}

syn.eq {
  color: rgb(0, 219, 0);
}

syn.default {
  color: white;
}

.space {
  color: black;
}

.tab {
  color: black;
}

.theCode {
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  width: 60%;
  border: 1px solid rgb(189, 189, 189); 
  border-radius: 0%;
  font-size: 11pt;
  font-family: Consolas, monospace;
  background-color: rgb(43, 43, 43);
}

body { 
  background-color: rgb(87, 87, 87);
}